# Database
 
DATABASE_URL="your database connection string here"

# JWT
JWT_SECRET="your secret key here"

BCRYPT_SALT_ROUNDS=12
JWT_EXPIRES_IN= "7d"

# Server
PORT=4000
NODE_ENV=development

CORS_ORIGIN=http://localhost:3000,http://localhost:3000
